.productsDisplayDiv{
    width:100%;
    overflow-x: auto;
}
.productsDisplayDiv table{
    min-width: 100%;
    width:2000px;
    border-collapse: collapse;
}
.productsDisplayDiv th{
    /* border-top:0.1em solid black; */
    font-size:1em;
    vertical-align: top;
    padding-top:5px;
    padding-bottom:5px;
    color:rgb(253, 253, 253);
    margin:0px;
}
.productsDisplayDiv td
{
    font-size:1em;
    text-align: center;
    padding:10px;
    border-bottom: rgb(250,230,200) solid 1px;
    margin:0px;
}
.productsDisplayDiv thead tr{
    background-color: rgb(1, 3, 86);
    /* background-image: linear-gradient(180deg,blue 40%,rgb(101, 0, 151) 40%); */
}
/* .productsDisplayDiv tbody tr:nth-child(even){
    background-color: rgb(228, 221, 221); */
/* } */
.productsDisplayDiv tbody tr{
    background-color: white;
    /* background-image: linear-gradient(180deg,blue 40%,rgb(101, 0, 151) 40%); */
}

th:nth-child(1), td:nth-child(1) {
    position:sticky;
    z-index:2;
    left: 0;
}

th:nth-child(2), td:nth-child(2) {
    left: 102px; 
    position:sticky;
    z-index:2;
}

th:nth-child(3), td:nth-child(3) {
    left: 208px; /* Adjust based on the cumulative width of first two columns */
    position:sticky;
    z-index:2;
}

th:nth-child(4), td:nth-child(4) {
    left: 533px; /* Adjust based on the cumulative width of first three columns */
    position:sticky;
    z-index:2;
}
th:nth-child(5), td:nth-child(5) {
    left: 703px; /* Adjust based on the cumulative width of first three columns */
    position:sticky;
    z-index:2;
    
}


td:nth-child(1), td:nth-child(2),td:nth-child(3), td:nth-child(4),td:nth-child(5) {
    
background-color: white;
border-collapse: collapse;
}
th:nth-child(1), th:nth-child(2),th:nth-child(3), th:nth-child(4),th:nth-child(5) {
    
    background-color: rgb(1, 3, 86);

    }
